.headerLink:hover{
  text-decoration: none !important;
}

.buttonClass {
	background-color : #337ab7;
	color : white;
}

.mainDiv{
	height : 100%;
}

#bodyDiv{
	height: 75%;
}

#footerDiv{
	height : 10%;
}

h1.logo {
  margin-top: 11px;
  display: inline-flex;
}

.logo-head{
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 300;
}

.logo-head {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 300;
}

#signupContainer{
	background-color : #ededed;
}

.titleDiv{
	padding:5px;
	
}

.buttonDiv{
	padding:5px;
}

.inputDiv{
	padding:5px;
	width : 200px;
}

.signUpRow{
	height: 300px;
	background-image : url("../images/seller-day-28-29.jpg");
	background-size : cover;
}

#loginContainer {
	float: right;
	padding-right: 15%;
}